<div class="container position-relative">
  <h1 class="my-4 text-center"><strong>ASK PAGE</strong></h1>
  <div class="position-absolute top-500 start-50 translate-middle">
    <form method="get" action="answer" data-turbo="false">
      <input type="text" name="name" placeholder="type name...">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>

